{% extends 'base.html' %}

{% block title %}Prijavi se{% endblock %}

{% block content %}
<div class="p-3 mb-2">
    {% if form.errors %}
        <h3>Unos nije ispravan.</h3>
    {% endif %}
    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table class="table">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input class="btn btn-primary" type="submit" value="Prijavi se">
        <input class="btn btn-primary" type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}