{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<h2 class="mb-3">{{ object.title }}</h2>
<ul class="list-group mb-3">
    <li class="list-group-item">
    <strong>Autor:</strong> <a href="{% url 'user_detail' pk=object.author.pk %}" class="text-decoration-none">{{ object.author.username }}</a>
    </li>
    <li class="list-group-item">
    <strong>Objavljeno:</strong> {{ object.date_posted }}
    </li>
    <li class="list-group-item">
    <strong>Posljedni put ažurirano:</strong> {{ object.date_updated }}
    </li>
</ul>
<div class="mb-3 p-3" style="border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;">
    <p style="text-align: justify;">{{ object.content }}</p>
</div>
{% if object.author == user or user.is_staff %}
    <a href="update/" class="btn btn-sm btn-primary">Uredi</a>
    <a href="delete/" class="btn btn-sm btn-danger">Izbriši</a>
{% endif %}
{% endblock %}