{% block content %}
    {% if object.author == user or user.is_staff %}
        <button><a href="update/">Uredi</a></button>
        <button><a href="delete/">Izbriši</a></button>
    {% endif %}
    <h2>{{ object.title }}</h2>
    <ul>
        <li>
            Autor: <a href="{% url 'user_detail' pk=object.author.pk %}">{{ object.author.username }}</a>
        </li>
        <li>
            Objavljeno: {{ object.date_posted }}
        </li>
        <li>
            Posljedni put ažurirano: {{ object.date_updated }}
        </li>
    </ul>
    {{ object.content }}<br><br>
{% endblock %}