{% extends 'base.html' %}

{% block title %}Blogovi{% endblock %}

{% block content %}
<h2>Blogovi</h2>
{% include 'main/search_bar.html' with url_name='blog_posts' %}
<br>
<a href="{% url 'blog_create' %}" class="btn btn-sm btn-primary btn-block w-100 py-3">
    <i class="bi bi-plus-circle"></i> Izradi blog objavu
</a>
<br><br>
<div>
    {% for post in object_list %}
        <div class="recipe-item card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'blog_detail' pk=post.pk %}" style="text-decoration: none;">{{ post.title }}</a>
                </h5>
                <p class="card-text">
                    <small class="text-muted">
                        <i class="bi bi-calendar"></i> {{ post.date_posted|date:"d M Y" }}
                    </small>
                </p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}