{% extends 'base.html' %}

{% block title %}Početak{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Dobrodošli na Kooharicu!</h1>
            <p>Kooharica je mjesto gdje možete dijeliti svoje omiljene recepte i blog objave o kuhanju. Pridružite se našoj zajednici i otkrijte nove kulinarske ideje!</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
        <div class="border rounded p-3">
            <a href="{% url 'recipes' %}" style="text-decoration: none;"><h2>Recepti</h2></a>
            <p>Podijelite svoje najbolje recepte i pronađite inspiraciju za sljedeći obrok.</p>
        </div>
        </div>
        <div class="col-md-4">
        <div class="border rounded p-3">
            <a href="{% url 'best_recipes' %}" style="text-decoration: none;"><h2>Recepti Tjedna</h2></a>
            <p>Pogledajte našu kolekciju najboljih recepata koje su odabrali naši korisnici.</p>
        </div>
        </div>
        <div class="col-md-4">
        <div class="border rounded p-3">
            <a href="{% url 'blog_posts' %}" style="text-decoration: none;"><h2>Blogovi</h2></a>
            <p>Čitajte zanimljive blog objave o kuhanju, tehnikama i savjetima od naših članova.</p>
        </div>
        </div>
    </div>
{% endblock %}