{% block content %}
    {% if object.author == user or user.is_staff %}
        <button><a href="update/">Uredi</a></button>
        <button><a href="delete/">Izbriši</a></button>
    {% endif %}
    <h2>{{ object.title }}</h2>
    <ul>
        <li>
            Autor: <a href="/korisnici/{{ object.author.pk }}">{{ object.author.username }}</a>
        </li>
        <li>
            Objavljeno: {{ object.date_posted }} 
        </li>
        <li>
            Posljedni put ažurirano: {{ object.date_updated }}
        </li>
        <li>
            Vrijeme kuhanja: {{ object.cook_time_minutes }} Minuta
        </li>
        <li>
            Prosječna ocjena: {{ avg_rating }}/5
        </li>
    </ul>
    {{ object.instructions }}<br><br>

    <h2>Recenzije</h2>

    {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <label for="rating">Ocjena:</label>
            <select name="rating" id="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>
            <label for="comment">Komentar:</label><br>
            <textarea style="width: 80%" name="comment" id="comment" cols="30" rows="10"></textarea><br>
            <button type="submit">Pošalji</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Prijavi se</a> da bi ostavio recenziju.
    {% endif %}

    <ul>
        {% for review in reviews %}   
            <li>
                <a href="{% url 'user_detail' pk=review.author.pk %}"><b>{{ review.author.username }}</b></a><br>
                Rating: {{ review.rating }}/5<br>
                {{ review.comment }}
                <br><br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}