{% block content %}
    <h2>Recepti</h2>
    <button><a href="{% url 'recipe_create' %}">Izradi recept</a></button>
    <br><br>
    <!-- TODO: Maybe split best recipes and recipes into seperate files -->
    {% if not object_list.0.avg_rating %}
        {% include 'main/search_bar.html' with url_name='recipes' %}
    {% else %}
        {% include 'main/search_bar.html' with url_name='best_recipes' %}
    {% endif %}
    <ol>
        {% for recipe in object_list %}
            <li>
                <a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe.title }}</a>
                {% if recipe.avg_rating %}
                    <br>
                    Prosječna ocjena: {{ recipe.avg_rating }}/5
                    <br><br>
                {% endif %}
            </li>    
        {% endfor %}
    </ol>
{% endblock %}