<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<div class="col p-3 mb-2">
    <h2>Recepti</h2>
    <!-- TODO: Maybe split best recipes and recipes into seperate files -->
    {% if not object_list.0.avg_rating %}
        {% include 'main/search_bar.html' with url_name='recipes' %}
        <a href="{% url 'recipe_create' %}" class="btn btn-sm btn-primary">+ Izradi recept</a>
        <br><br>
    {% else %}
        {% include 'main/search_bar.html' with url_name='best_recipes' %}
    {% endif %}
    <ol>
        {% for recipe in object_list %}
            <li>
                <a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe.title }}</a>
                {% if recipe.avg_rating %}
                    <br>
                    Prosječna ocjena: {{ recipe.avg_rating }}/5
                    <br><br>
                {% endif %}
            </li>    
        {% endfor %}
    </ol>
</div>
