{% extends 'base.html' %}

{% block title %}Recepti{% endblock %}

{% block content %}
<h2>Recepti</h2>
<!-- TODO: Maybe split best recipes and recipes into seperate files -->
{% include 'main/search_bar.html' with url_name='recipes' %}
<br>
<a href="{% url 'recipe_create' %}" class="btn btn-sm btn-primary btn-block w-100 py-3">
    <i class="bi bi-plus-circle"></i> Izradi recept
</a>
<br><br>
<div>
    {% for recipe in object_list %}
        <div class="recipe-item card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'recipe_detail' pk=recipe.pk %}" style="text-decoration: none;">{{ recipe.title }}</a>
                </h5>
                <span class="badge bg-primary">
                    {% if recipe.avg_rating %}
                        <i class="bi bi-star-fill"></i> {{ recipe.avg_rating }}/5
                    {% else %}
                        <i class="bi bi-star-fill"></i> 5/5
                    {% endif %}
                </span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}