{% block content %}
    {% if object.author == user or user.is_staff %}
        <button><a href="update/">Uredi</a></button>
        <button><a href="delete/">Izbriši</a></button>
    {% endif %}
    <h2>{{ object.title }}</h2>
    <ul>
        <li>
            Autor: <a href="/korisnici/{{ object.author.pk }}">{{ object.author.username }}</a>
        </li>
        <li>
            Objavljeno: {{ object.date_posted }} 
        </li>
        <li>
            Posljedni put ažurirano: {{ object.date_updated }}
        </li>
        <li>
            Vrijeme kuhanja: {{ object.cook_time_minutes }} Minuta
        </li>
        <li>
            Prosječna ocjena: {{ avg_rating }}/5
        </li>
    </ul>
    {{ object.instructions }}<br><br>

    <h2>Recenzije</h2>

    <ul>
        {% for review in reviews %}   
            <li>
                <a href="{% url 'user_detail' pk=review.author.pk %}"><b>{{ review.author.username }}</b></a><br>
                Rating: {{ review.rating }}/5<br>
                {{ review.comment }}
                <br><br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}