{% extends 'base.html' %}

{% block title %}{{ object.username }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>{{ object.username }}</h2>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <i class="bi bi-person-circle"></i> 
                <strong>Ime:</strong>
                {% if object.first_name %}
                    {{ object.first_name }} {{ object.last_name }}
                {% else %}
                    <em>Nije uneseno.</em>
                {% endif %}
            </li>
            <li class="list-group-item">
                <i class="bi bi-envelope"></i> 
                <strong>E-Pošta:</strong>
                {% if object.email %}
                    {{ object.email }}
                {% else %}
                    <em>Nije uneseno.</em>
                {% endif %}
            </li>
            <li class="list-group-item">
                <i class="bi bi-calendar"></i> 
                <strong>Račun napravljen:</strong> 
                {{ object.date_joined|date:"d M Y" }}
            </li>
        </ul>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">
        <h2>Recepti</h2>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            {% if recipes|length == 0 %}
                <li class="list-group-item">
                    Korisnik nema recepata.
                </li>
            {% endif %}
            {% for recipe in recipes %}
                <li class="list-group-item">
                    <a href="{% url 'recipe_detail' pk=recipe.pk %}" style="text-decoration: none;">{{ recipe.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">
        <h2>Blog Objave</h2>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            {% if blogs|length == 0 %}
                <li class="list-group-item">
                    Korisnik nema blog objava.
                </li>
            {% endif %}
            {% for blog in blogs %}
                <li class="list-group-item">
                    <a href="{% url 'blog_detail' pk=blog.pk %}" style="text-decoration: none;">{{ blog.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
